<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block styles %}
        {% endblock styles %}
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <aside>
            <a href="{% url "inicio" %}">
                <picture>
                    <source media="(min-width: 540px)" srcset="{% static 'images/logoColor.webp' %}">
                    <img class="logo" src="{% static 'images/logoColorSmall.webp' %}" alt="logo coovitel">
                </picture>                
            </a>
            <nav>
                <ul class="menu">
                    <li>
                        <a class="links" href="{% url "inicio" %}">
                            {% include "icons/home.html"%}
                            <p>
                                Inico
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="links" href="{% url "sucursales" %}">
                            {% include "icons/builds.html" %}
                            <p>
                                Sucursales
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="links" href="{% url "asesores" %}">
                            {% include "icons/users.html" %}
                            <p>
                                Asesores
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="links" href="">
                            {% include "icons/files.html" %}
                            <p>
                                Archivos
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="links" href="">
                            {% include "icons/tasas.html" %}
                            <p>
                                Tasas
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="out">
                {% if request.user.is_authenticated %}
                    <a class="link" href="{% url "logout" %}">
                        {% include "icons/exit.html" %}
                        <p>
                            Cerrar Sesión
                        </p>
                    </a>
                {% else %}
                    <a class="link" href="{% url "login" %}">
                        {% include "icons/user.html" %}
                        <p>
                            Iniciar Sesión
                        </p>
                    </a>
                {% endif %}
            </div>
        </aside>
        
        <main>
            {% if request.user.is_authenticated %}
                <div class="options">
                    <div class="top-settings">
                        <p>Hola <strong>{{ request.user.first_name|default:request.user.username }}!</strong></p>
                        <input id="menu-toggle" type="checkbox"/>
                        <label class="menu-button-container" for="menu-toggle">
                            <div class="menu-button"></div>
                        </label>
                    </div>
                    <ul class="menu-settigns" id="menu-settings">
                        <li><a class="buttons-settings" href="">Editar perfil</a></li>
                        <li><a class="buttons-settings" href="{% url "password_change" %}">Cambiar contraseña</a></li>
                        <li><a class="buttons-settings" href="">Solicitar permisos</a></li>
                    </ul>

                </div>
            {% endif %}
            <div class="content">
                {% block content %}        
                {% endblock content %}
            </div>
        </main>
        {% load static %}
        <script src="{% static 'scripts/script.js' %}"></script>

    </body>
</html>