<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block styles %}
        {% endblock styles %}
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <header>
            <a class="links" href="{% url "inicio" %}">
                <h1>Coovitel</h1>
            </a>
            {% if request.user.is_authenticated %}              
                <nav class="menu">
                    <ul>
                        <li>
                            <a class="links" href="{% url "sucursales" %}">Sucursales</a>
                        </li>
                        <li>
                            <a class="links" href="{% url "asesores" %}">Asesores</a>
                        </li>
                        <li>
                            <a class="links" href="">Comsiones</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
            <span>
                <div class="options">
                    {% if request.user.is_authenticated %}
                        <p>Hola {{ request.user.first_name|default:request.user.username }}</p>
                        <p>
                            <a class="links" href="{% url "password_change" %}">Cambiar contraseña</a> o
                            <a class="links" href="{% url "logout" %}">Cerrar Sesión</a>
                        </p>
                    {% else %}
                        <p><a href="{% url "login" %}">Iniciar Sesión</a></p>
                    {% endif %}
                </div>
            </span>
        </header>
        
        {% block content %}
        
        {% endblock content %}
        
        <script src="" async defer></script>
    </body>
</html>