{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock title %}

{% block content %}
    <h1>Iniciar Sesión App Comisiones</h1>
    {% if form.errors %}
        <p>
            Su usuario o contraseña no son correctos.
            Intente de nuevo.
        </p>
    {% else %}
        <p>Por favor, ingrese sus credenciales para inicar sesion.</p>
    {% endif %}

    <div>
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Iniciar Sesion"></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">
                Olvido su contraseña?
            </a>
        </p>
    </div>
{% endblock content %}