{% extends "base.html" %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block content %}
<h1>Restablecer contraseña</h1>
{% if validlink %}
    <p>Por favor ingrese su nueva contraseña:</p>
    <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Cambio de contraseña" /></p>
    </form>
{% else %}
<p>The password reset link was invalid, possibly because it has already
been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}