<div class="table">
    <h4>Afiliaciones</h4>
    
    <table>
    <tr>
        <th>Codigo Interno</th>
        <th>Codigo Nomina</th>
        <th>Nomina</th>
        <th>Fecha Corte</th>
        <th>Sucursal</th>
        <th>Ahorro</th>
        <th>Acumulado</th>
    </tr>
    {% for afi in afiliaciones.afiliaciones %}
        <tr class="rows">
            <td>{{afi.COD_INTERNO}}</td>
            <td>{{afi.CODNOMINA}}</td>
            <td>{{afi.NOMINA}}</td>
            <td>{{afi.F_CORTE}}</td>
            <td>{{afi.SUCURSAL}}</td>
            <td id="values">{{afi.ACUM_AHO}}</td>
            <td id="values">{{afi.ACUM_APO}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Numero de Afiliaciones: {{afiliaciones.numberAfiliaciones}} - Pago por afiliacion $ <span id="values">{{afiliaciones.tasas}}</span></p>
    <p>Total pago: $ <span id="values">{{afiliaciones.pagoAfiliaciones}}</span></p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var montos = document.querySelectorAll('#values');
        montos.forEach(function(monto) {
            if (monto.textContent!== '') {
                var num = parseFloat(monto.textContent.replace(/,/g, ''));
                monto.textContent = num.toLocaleString();
            }
        });
    });
</script>