{% load set_values %}

<h4>Afiliaciones el {{file}}</h4>
<p>{{asesor.name}} - {{asesor.rol}}</p>

<table>
    <tr>
        <td>Nombre</td>
        <td>Codigo Interno</td>
        <td>Codigo Nomina</td>
        <td>Nomina</td>
        <td>Fecha Corte</td>
        <td>Sucursal</td>
    </tr>
    {% for afi in afiliaciones.afiliaciones %}
        <tr>
            <td>{{afi.NOMBRES}}</td>
            <td>{{afi.COD_INTERNO}}</td>
            <td>{{afi.CODNOMINA}}</td>
            <td>{{afi.NOMINA}}</td>
            <td>{{afi.F_CORTE}}</td>
            <td>{{afi.SUCURSAL}}</td>
        </tr>
    {% endfor %}
</table>
<p>Numero de Afiliaciones: {{afiliaciones.numberAfiliaciones}} - Pago por afiliacion {{afiliaciones.tasas.value}}</p>
<p>Total pago: $ {{ afiliaciones.pagoAfiliaciones }}</p>
