<div class="table">
    <h4>Cdats</h4>
    
    <table>
    <tr>
        <th>Codigo Interno</th>
        <th>Nombre Nomina</th>
        <th>Plazo</th>
        <th>Valor Titulo</th>
        <th>Monto Anterios</th>
        <th>Monto Nuevo</th>
        <th>Fecha Titulo</th>
        <th>Tasa Efectiva</th>
        <th>Tasa Ref</th>
        {% comment %} <th>Tasa Nominal</th> {% endcomment %}
        <th>Factor Tasa</th>
        <th>Factor Plazo</th>
        <th>Factor Tasa y Plazo</th>
        <th>Comision Renovacion</th>
        <th>Comision Nuevo</th>
        {% comment %} <th>Retencion</th> {% endcomment %}
    </tr>
    {% for cdat in cdats.cdats %}
        <tr>
            <td>{{cdat.K_IDTERC}}</td>
            <td>{{cdat.NOMBRE_TERCERO}}</td>
            <td>{{cdat.Q_PLADIA}}</td>
            <td id="values">{{cdat.V_TITULO}}</td>
            <td id="values">{{cdat.M_ANTERIOR}}</td>
            <td id="values">{{cdat.V_NUEVO}}</td>
            <td>{{cdat.F_TITULO}}</td>
            <td>{{cdat.T_EFECTIVA}}</td>
            <td>{{cdat.T_REF}}</td>
            {% comment %} <td>{{cdat.T_NOMINAL}}</td> {% endcomment %}
            <td>{{cdat.F_TASA}}</td>
            <td>{{cdat.FACTOR_PLAZO}}</td>
            <td>{{cdat.F_TP}}</td>
            <td>{{cdat.V_RENO}}</td>
            <td>{{cdat.V_NUEV}}</td>
            {% comment %} <td>{{cdat.RETENCION}}</td> {% endcomment %}
        </tr>
    {% endfor %}
    </table>
    <p>Total CDATS Nuevo: $ <span id="values">{{cdats.totalNuevo}}</span></p>
    <p>Comision Nuevo: $ <span id="values">{{cdats.comiNuevo}}</span></p>
    <p>Total CDATS Renovado: $ <span id="values">{{cdats.totalRenovado}}</span></p>
    <p>Comision Renovado: $ <span id="values">{{cdats.comiReno}}</span></p>
    <p>Comision Total: $ <span id="values">{{cdats.total}}</span></p>
</div>

