<h4>Colocaciones</h4>

<table>
    <tr>
        <td>A_OBLIGA</td>
        <td>Nomina</td>
        <td>Monto</td>
        <td>Cartera</td>
        <td>Neto Antes</td>
        <td>P Tasa Efectiva</td>
        <td>F corte</td>
        <td>Suc produto</td>
    </tr>
    {% for col in colocaciones.colocaciones %}
        <tr>
            <td>{{col.A_OBLIGA}}</td>
            <td>{{col.NOMINA}}</td>
            <td>{{col.MONTO}}</td>
            <td>{{col.CARTERA}}</td>
            <td>{{col.NETO_ANTES}}</td>
            <td>{{col.P_TASEFEC}}</td>
            <td>{{col.F_CORTE}}</td>
            <td>{{col.SUC_PRODUCTO}}</td>
        </tr>
    {% endfor %}
</table>
