<div class="table">
    <h4>Cooviahorros</h4>
    
    <table>
        <tr>
            <th>NIT</th>
            <th>Numero</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
        {% for col in cooviahorros.cooviahorros %}
        <tr>
            <td>{{col.AANUMNIT}}</td>
            <td>{{col.K_NUMDOC}}</td>
            <td>{{col.N_TIPODR}}</td>
            <td>$ <span id="values">{{col.SALDO}}</span></td>
        </tr>
        {% endfor %}
    </table>
    <p>Valor total en Cooviahorros: $ <span id="values">{{cooviahorros.monto}}</span></p>
    <p>Valor total de Comision: $ <span id="values">{{cooviahorros.comision}}</span></p>
</div>

    