<div class="table">
    <h4>Crecimiento Base Social</h4>
    
    <table>
        <tr>
            <th>Gestor</th>
            <th>Ejecutado</th>
            <th>PPTP</th>
            <th>Porcentaje Acumulado</th>
        </tr>
        {% for crecimiento in crecimientoBase.crecimientoBase %}
        <tr>
            <th>{{crecimiento.PROMOTOR}}</th>
            <th>{{crecimiento.EJECUTADO}}</th>
            <th>{{crecimiento.META}}</th>
            <th>{{crecimiento.PORCENTAJE}}</th>
        </tr>
    {% endfor %}
    </table>
    <p>Valor total de Comision: $ <span id="values">{{crecimientoBase.comision}}</span></p>
</div>

