{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="tables">
        <h2>Comisiones {{asesor}}</h2>
    
        {% comment %} {% include "comisions/afiliaciones.html" %} {% endcomment %}
        
        {% comment %} {% include "comisions/colocaciones.html" %} {% endcomment %}
        
        {% comment %} {% include "comisions/cooviahorros.html" %} {% endcomment %}
        
        {% comment %} {% include "comisions/cdats.html" %} {% endcomment %}

        {% comment %} {% include "comisions/ahorroVista.html" %} {% endcomment %}
          
        {% if checkMeta.director %}
            {% if checkMeta.state %}
                <p>{{checkMeta.porcentaje}}</p>
                <p>{{checkMeta.message}}</p>
                {% comment %} {% include "comisions/crecimientoBase.html" %} {% endcomment %}
                {% if checkMeta.stateCdat %}
                    {% include "comisions/crecimientoCDAT.html" %}        
                {% endif %}
                {% include "comisions/crecimientoCoovi.html" %}
            {% else %}
                <p>{{checkMeta.porcentaje}}</p>
                <p>{{checkMeta.message}}</p>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var montos = document.querySelectorAll('#values');
        montos.forEach(function(monto) {
            if (monto.textContent!== '') {
                var num = parseFloat(monto.textContent.replace(/,/g, ''));
                monto.textContent = num.toLocaleString();
            }
        });
    });
</script>