{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="asesores">
        <div class="header-asesor">
            <h1 class="title">Asesores Coovitel</h1>      
        </div>
        <form method="get" class="form-asesor">
            <select name="ciudad">
                <option value="">-- Selecciona una ciudad --</option>
                {% for sucursal in citys %}
                    <option value="{{ sucursal.city }}">{{ sucursal.city }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Buscar">
            <input type="submit" name="todos" value="Buscar Todos">
        </form>

        <div class="bg-black">
            <table class="table-fixed">
                <tr>
                    <td>Asesor</td>
                    <td>Sucursal</td>
                    <td>Comisiones</td>
                    <td></td>
                </tr>
                {% for asesor in asesores %}
                <tr>
                    <td>{{ asesor.name }}</td>
                    <td>{{ asesor.sucursal }}</td>
                    <td><a class="links" href="{% url 'comisionesAsesor' asesor.name %}">Comisiones</a></td>
                    {% if permission %}
                        <td><a class="links" href="{% url 'deleteasesor' asesor.id %}" onclick="return confirm('Esta seguro de eliminar el asesor {{asesor.name}}?')">Borrar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if permission %}         
            {% include "users/createasesor.html" %}
        {% endif %}

    </div>    
{% endblock  %}
