{% extends "base.html" %}

{% block content %}
    <h2>Comisiones {{asesor.name}}</h2>

    <table>Afiliaciones
        <tr>
            <td>Codigo Interno</td>
            <td>Codigo Nomina</td>
            <td>Nomina</td>
            <td>Fecha Corte</td>
            <td>Sucursal</td>
        </tr>
        {% for afi in afiliaciones %}
            <tr>
                <td>{{afi.COD_INTERNO}}</td>
                <td>{{afi.CODNOMINA}}</td>
                <td>{{afi.NOMINA}}</td>
                <td>{{afi.F_CORTE}}</td>
                <td>{{afi.SUCURSAL}}</td>
            </tr>
        {% endfor %}
    </table>
    </br>
    <table>Cdats
        <tr>
            <td>CC</td>
            <td>Titulo</td>
            <td>Plazo Dia</td>
            <td>Valor Titulo</td>
            <td>Monto Anterior</td>
            <td>Tasa</td>
            <td>Fecha Corte</td>
            <td>Sucursal</td>
        </tr>
        {% for cdat in cdats %}
            <tr>
                <td>{{cdat.CC}}</td>
                <td>{{cdat.A_TITULO}}</td>
                <td>{{cdat.Q_PLADIA}}</td>
                <td>{{cdat.V_TITULO}}</td>
                <td>{{cdat.M_ANTERIOR}}</td>
                <td>{{cdat.T_EFECTIVA}}</td>
                <td>{{cdat.F_CORTE}}</td>
                <td>{{cdat.SUC_PRODUCTO}}</td>
            </tr>
        {% endfor %}
    </table>
    </br>
    <table>Cooviahorro
        <tr>
            <td>Asociado</td>
            <td>Codigo Nomina</td>
            <td>Valor Cuota</td>
            <td>Saldo</td>
            <td>Fecha Corte</td>
            <td>Sucursal</td>
        </tr>
        {% for coovi in cooviahorros %}
            <tr>
                <td>{{coovi.NNASOCIA}}</td>
                <td>{{coovi.CODNOMINA}}</td>
                <td>{{coovi.V_CUOTA}}</td>
                <td>{{coovi.SALDO}}</td>
                <td>{{coovi.F_CORTE}}</td>
                <td>{{coovi.SUC_PRODUCTO}}</td>
                <td>{{coovi.PROMOTOR}}</td>
            </tr>
        {% endfor %}
    </table>
    <table>Ahorro Vista
        <tr>
            <td>Codigo Interno</td>
            <td>Asociado</td>
            <td>Codigo Nomina</td>
            <td>Nomina</td>
            <td>Saldo</td>
            <td>Fecha Corte</td>
            <td>Sucursal</td>
        </tr>
        {% for ahorro in ahorros %}
            <tr>
                <td>{{ahorro.COD_INTERNO}}</td>
                <td>{{ahorro.NNASOCIA}}</td>
                <td>{{ahorro.CODNOMINA}}</td>
                <td>{{ahorro.NOMINA}}</td>
                <td>{{ahorro.SALDO}}</td>
                <td>{{ahorro.F_CORTE}}</td>
                <td>{{ahorro.SUC_PRODUCTO}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}