<div>
    <h2>Nuevo asesor</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" required>
        </div>
        <select name="sucursal" id="" required>
            <option value="">-- Sucursal --</option>
            {% for sucursal in citys %}
                <option value={{ sucursal.city }}>{{ sucursal.city }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Crear" href="{% url 'asesores' %}"/>
    </form>
</div>

