{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Lista de archivos</h2>
    <p>Selecciona el mes que quieres consultar tus comisiones</p>

    <table>
        <tr>
            <th>Mes</th>
            <th>Año</th>
            <th></th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{file.month}}</td>
                <td>{{file.year}}</td>
                <td><a href="{% url "list_asesor" file.full_date %}">Seleccionar</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}