{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2 class="title">Subzonas</h2>
    <div>
        <table>
            <tr>
                <td>Subzona</td>
                <td></td>
            </tr>
            {% for subzona in subzonas %}
                <tr>
                    <td>{{subzona.subzona}}</td>
                    {% if permission %}
                        <td><a href="{% url 'deletesubzona' subzona.id %}" onclick="return confirm('Esta seguro de eliminar la Subzona {{subzona.subzona}}?')">Borrar</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value"Subir"/>
    </form>
{% endblock  %}