{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2 class="title">Sucursales</h2>
    <div>
        <table>
            <tr>
                <td>Sucursal</td>
                <td></td>
            </tr>
            {% for city in citys %}
                <tr>
                    <td>{{city.city}}</td>
                    {% if permission %}
                        <td><a href="{% url 'deletesucursal' city.id %}" onclick="return confirm('Esta seguro de eliminar la sucursal {{city.city}}?')">Borrar</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if permission %}
        {% include "users/createsucursal.html" %}
    {% endif %}
{% endblock  %}