{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>Control de Tasas y Valores de Comisiones por producto</h2>

    
    {% comment %} {% include "tasas/afiliaciones.html" %} {% endcomment %}

    {% comment %} {% include "tasas/colocaciones.html" %} {% endcomment %}

    {% comment %} {% include "tasas/cooviahorro.html" %} {% endcomment %}

    {% comment %} {% include "tasas/cdats.html" %} {% endcomment %}

    {% comment %} {% include "tasas/cdatstasas.html" %} {% endcomment %}

    {% include "tasas/ahorrosVista.html" %}

{% endblock content %}