{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>Control de Tasas y Valores de Comisiones por producto</h2>

    
    <ul>
        <li><a href="{% url "afiliaciones" %}">Afiliaciones</a></li>
        <li><a href="{% url "colocaciones" %}">Colocaciones</a></li>
        <li><a href="{% url "cooviahorro" %}">Cooviahorros</a></li>
        <li><a href="{% url "cdats" %}">Cdats</a></li>
        <li><a href="{% url "cdatsTasas" %}">Cdats Tasas Actuales</a></li>
        <li><a href="{% url "ahorro" %}">Ahorro Vista</a></li>
        <li><a href="{% url "crecimientoBase" %}">Crecimiento Base Social</a></li>
        <li><a href="{% url "crecimientoCdat" %}">Crecimiento CDAT</a></li>
        <li><a href="{% url "crecimientoCooviahorro" %}">Crecimiento Cooviahorro</a></li>
        <li><a href="{% url "crecimientoAhorro" %}">Crecimiento AhorroVista</a></li>
    </ul>

    {% block tasas %}
    
    {% endblock tasas %}

    <script>
        function handleChange(idName) {
            var inputElement = document.getElementById(idName);
            inputElement.value = inputElement.value.replace(/\D/g, ''); // Elimina caracteres no numéricos
            var inputValue = inputElement.value.replace('.', '').split("").reverse(); // Reversa el valor para facilitar la inserción de puntos
            var newValue = '';
            for (var i = 0; i < inputValue.length; i++) {
                if (i % 3 == 0 && i!= 0) { // Agrega un punto cada tres dígitos, excepto al inicio
                    newValue += '.';
                }
                newValue += inputValue[i];
            }
            inputElement.value = newValue.split("").reverse().join(""); // Revierte el valor y lo establece en el input
        }
    
    </script>

{% endblock content %}