{% extends "control.html" %}

{% load static %}

{% block tasas %}
    <h2>Tasas y comisiones de Ahorros Vista</h2>
    <table>
        <tr>
            <th>Valor Minimo</th>
            <th>Valor Maximo</th>
            <th>Porcentaje</th>
        </tr>
        {% for ahorro in ahorros %}
            <tr>
                <th>{{ahorro.valueMin}}</th>
                <th>{{ahorro.valueMax}}</th>
                <th>{{ahorro.porcentaje}}</th>
            </tr>
        {% endfor %}
    </table>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>


{% endblock tasas %}