{% extends "control.html" %}

{% load static %}

{% block tasas %}
    <h2>Tasas y comisiones de Cooviahorros</h2>
    <table>
        <tr>
            <th>Cooviahorro</th>
            <th>Descripcion</th>
            <th>Rol</th>
            <th>Monto para comision</th>
            <th>Comision</th>
        </tr>
        {% for cooviahorro in cooviahorros %}
            <tr>
                <th>{{cooviahorro.name}}</th>
                <th>{{cooviahorro.description}}</th>
                <th>{{cooviahorro.rol}}</th>
                <th>{{cooviahorro.monto}}</th>
                <th>{{cooviahorro.value}}</th>
            </tr>
        {% endfor %}
    </table>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock tasas %}