{% extends "control.html" %}

{% load static %}

{% block tasas %}
    <h2>Tasas y comisiones de Crecimiento de Cooviahorro</h2>
    <table>
        <tr>
            <th>Descripcion</th>
            <th>Valor Comision</th>
        </tr>
        {% for crecimiento in crecimientoCoovi %}
            <tr>
                <th>{{crecimiento.description}}</th>
                <th>{{crecimiento.value}}</th>
            </tr>
        {% endfor %}
    </table> 

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

{% endblock tasas %}