{% extends "control.html" %}

{% load static %}

{% block tasas %}
<div class="update-form">
    <h2 class="title-table">Actualizar Extra Cupo</h2>
    <form method="POST" class>
        {% csrf_token %}
        <div class="form">
            {{form.as_p}}
        </div>
        <button class="created" type="submit">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="30"
                    height="30"
                    class="icon"
                >
                    <path
                    d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z"
                    ></path>
                </svg>
                </div>
            </div>
            <span>Guardar</span>
        </button>

        <button class="save" type="submit">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg
                    aria-hidden="true"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    ></path>
                </div>
            </div>
            </svg>Actualizar</button>
    </form>
</div>
{% endblock tasas %}